.edit-wrap{
	position:relative;
	background:#fff;
	min-height:300px;
	overflow: auto;
}
.edit-page{
	/*1336*768*/
	width: 1221px;
	height: 619px;
}
.edit-page.contentscale{
transform-origin:left top;
}
