.tool-menu>ul{
	border-bottom:1px solid #c1c1c1;
}
.tool-menu>ul>li{
	float: left;
	padding:0px 5px;
	position:relative;
}
.tool-menu>ul>li>dl{
	z-index:100;
	display: none;
	position:absolute;
	top:100%;
	left:0px;
}
.tool-menu>ul>li.hoverActive>dl{
	display: block;
	background:#c1c1c1;
	padding:10px 0;
	color:#333;
	width:100px;
}
.tool-menu>ul>li.hoverActive>dl>dd{
	padding:0px 10px 0px 30px;
	position: relative;
}
.tool-menu>ul>li.hoverActive>dl>dd .toggle-icon{
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-7px;
}
.tool-menu>ul>li.hoverActive>dl>dd:hover{
	background:#00ce9a;
}
.tool-menu>ul>li.hoverActive>dl>.hr{
	border-bottom: 1px solid #aaa;
}
.tool-menu>ul>li:hover{
 cursor: pointer;
color:#0cd09e;
}
.tool-menu>ul>li:after{
	content: "";
	position: absolute;
	bottom:-1px;
	left:0;
	right:0;
	border-bottom: 1px solid #0cd09e;
	display: none;
}
.tool-menu>ul>li:hover::after{
	display: block;
}