header{
	position:absolute;
	top:0;
	left:0;
	padding-left: 136px;
	height:150px;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}
header .user-pic  .person{
	background-position: -585px -277px;
	width: 138px;
	height: 160px;
	margin: -20px 0 0 -10px;
}

header .user-pic{
	position: absolute;
	left: 0;
	width: 125px;
	height: 150px;
	border-radius: 50%;
	margin: 0px 0 0 10px;
}
header .user-pic.female{
	background-position: -725px -287px;
}
header .user-pic.male{
	background-position: -897px -281px;
}
header .header-wrap{
	position: relative;
	height:100%;
}
header .header-wrap .header-top,
header .header-wrap .header-bottom{
	height:50%;
}

header .header-wrap .header-top .content{
	background-position: 0px 0px;
	width: 327px;
	height: 71px;
}

header .header-wrap .header-top .coin{
	background-position: -90px -336px;
	width: 30px;
	height: 20px;
	margin: 20px 10px 10px 5px;
}
header .header-wrap .header-top .yuanbao{
	background-position: -187px -184px;
	width: 30px;
	height: 16px;
	margin: 22px 10px 10px 5px;
}
header .header-wrap .header-bottom .charge{
	background-position: -60px -119px;
	width: 91px;
	height: 26px;
	margin: 30px 0 0 0px;
}
header .header-wrap .header-bottom .notice{
	background-position: -177px -180px;
	width: 50px;
	height: 43px;
	margin: 10px 0 0 0px;
}
header .header-wrap .header-bottom .hardword{
	background-position: -56px -240px;
	width: 44px;
	height: 44px;
	margin: 10px 0 0 0px;
}
header .header-wrap .header-bottom .setting{
	background-position: 0px -240px;
	width: 46px;
	height: 45px;
	margin: 10px 0 0 0px;
}

footer{
	position:absolute;
	bottom:0;
	left:0;
	height:55px;
	overflow: hidden;
	width: 100%;
}
footer .home{
	background-position: 0px -180px;
	width: 50px;
	height: 50px;
}
footer .friend{
	background-position: 0px -119px;
	width: 50px;
	height: 51px;
}
footer .skills{
	background-position: -187px -84px;
	width: 64px;
	height: 54px;
}
footer .package{
	background-position: -119px -180px;
	width: 48px;
	height: 48px;
}
footer .goldHouse{
	background-position: 0px -56px;
	width: 72px;
	height: 53px;
}
body,html{
	height:100%;
	overflow: hidden;
}
.main-body{
	position: absolute;
	transform-origin:left top;
	left:0;
	top:0;
	width:1500px;
	height:1500px;
	background-image: url(../public/images/mijing.jpg);
	background-repeat: no-repeat;
}
.main-body .treeItem{
	position:absolute;
}
/*.main-body .light{*/
	/*position:absolute;*/
	/*left: 590px;*/
	/*top: 611px;*/
	/*background-position: -959px 0px;*/
	/*width: 436px;*/
	/*height: 252px;*/
/*}*/
.main-body .treeItem .fengyin{
	position:absolute;
	background-position: -585px -7px;
	width: 254px;
	height: 265px;
}
.main-body .treeItem .huafei1{
	position:absolute;
	background-position: 0px 0px;
	width: 286px;
	height: 221px;
}
.main-body .treeItem .huafei2{
	position:absolute;
	background-position: -10px -236px;
	width: 286px;
	height: 221px;
}
.main-body .treeItem .huafei3{
	position:absolute;
	background-position: -308px 9px;
	width: 286px;
	height: 221px;
}
.main-body .treeItem .huafei4{
	position:absolute;
	background-position: -291px -232px;
	width: 286px;
	height: 221px;
}
.main-body .zhuzhi1,.main-body .zhuzhi2{
	position:absolute;
	background-position: -830px -82px;
	width: 84px;
	height: 188px;
}
.main-body .zhuzhi3{
	position:absolute;
	background-position: -926px -127px;
	width: 84px;
	height: 141px;
}
.main-body .zhuzhi4,.main-body .zhuzhi5{
	position:absolute;
	background-position: -1020px -82px;
	width: 84px;
	height: 188px;
}
@media screen and (max-width: 470px)  {
	header{
		height: 132px;
	}
	header .user-pic {
		transform: scale(0.8) translate(-6px,-13px);
		transform-origin: left;
	}
	header{
		padding-left: 99px;
	}
	header .header-wrap .header-bottom .charge{
		margin: 20px 0 0 0px;
	}
	header .header-wrap .header-bottom .notice{
		margin: 0px 0 0 0px;
	}
	header .header-wrap .header-bottom .hardword{
		margin: 0px 0 0 0px;
	}
	header .header-wrap .header-bottom .setting{
		margin: 0px 0 0 0px;
	}
}
