.main-body{
	position:absolute;
	border:1px solid red;
	top:25%;
	right:0;
	left:0;
	bottom:10%;
	background-image: url(../public/images/loginbg.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100% 18.625rem;
}
.form-block{
	padding-top: 10rem;
}