/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-baybtn {
  background-image: url(formItem.png);
  background-position: -171px -196px;
  width: 90px;
  height: 28px;
}
.icon-checkbox {
  background-image: url(formItem.png);
  background-position: -271px -196px;
  width: 22px;
  height: 21px;
}
.icon-checkboxchecked {
  background-image: url(formItem.png);
  background-position: -200px -240px;
  width: 22px;
  height: 21px;
}
.icon-jieshaokuang {
  background-image: url(formItem.png);
  background-position: 0px -68px;
  width: 287px;
  height: 36px;
}
.icon-jieshaokuang2 {
  background-image: url(formItem.png);
  background-position: 0px -114px;
  width: 287px;
  height: 36px;
}
.icon-qiankundaiList {
  background-image: url(formItem.png);
  background-position: 0px 0px;
  width: 297px;
  height: 58px;
}
.icon-registerInputbg {
  background-image: url(formItem.png);
  background-position: 0px -196px;
  width: 161px;
  height: 34px;
}
.icon-tab {
  background-image: url(formItem.png);
  background-position: 0px -240px;
  width: 90px;
  height: 28px;
}
.icon-tabActive {
  background-image: url(formItem.png);
  background-position: -100px -240px;
  width: 90px;
  height: 28px;
}
.icon-worldSort {
  background-image: url(formItem.png);
  background-position: 0px -160px;
  width: 286px;
  height: 26px;
}
