/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-10tabActive {
  background-image: url(formItem.png);
  background-position: -307px 0px;
  width: 90px;
  height: 28px;
}
.icon-11worldSort {
  background-image: url(formItem.png);
  background-position: 0px -160px;
  width: 286px;
  height: 26px;
}
.icon-1baybtn {
  background-image: url(formItem.png);
  background-position: -171px -196px;
  width: 90px;
  height: 28px;
}
.icon-2checkbox {
  background-image: url(formItem.png);
  background-position: -339px -76px;
  width: 22px;
  height: 21px;
}
.icon-3checkboxchecked {
  background-image: url(formItem.png);
  background-position: -307px -76px;
  width: 22px;
  height: 21px;
}
.icon-4jieshaokuang {
  background-image: url(formItem.png);
  background-position: 0px -68px;
  width: 287px;
  height: 36px;
}
.icon-5jieshaokuang2 {
  background-image: url(formItem.png);
  background-position: 0px -114px;
  width: 287px;
  height: 36px;
}
.icon-6logininput {
  background-image: url(formItem.png);
  background-position: 0px -240px;
  width: 183px;
  height: 20px;
}
.icon-7qiankundaiList {
  background-image: url(formItem.png);
  background-position: 0px 0px;
  width: 297px;
  height: 58px;
}
.icon-8registerInputbg {
  background-image: url(formItem.png);
  background-position: 0px -196px;

  width: 161px;
  height: 34px;
}
.icon-9tab {
  background-image: url(formItem.png);
  background-position: -307px -38px;
  width: 90px;
  height: 28px;
}
