/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-001shizi {
  background-image: url(propsItem.png);
  background-position: 0px -81px;
  width: 177px;
  height: 119px;
}
.icon-002shu {
  background-image: url(propsItem.png);
  background-position: 0px -210px;
  width: 167px;
  height: 116px;
}
.icon-003worldtop {
  background-image: url(propsItem.png);
  background-position: -290px -129px;
  width: 36px;
  height: 34px;
}
.icon-004yuanbao {
  background-image: url(propsItem.png);
  background-position: -90px -336px;
  width: 30px;
  height: 20px;
}
.icon-005yuanbao1000 {
  background-image: url(propsItem.png);
  background-position: -337px 0px;
  width: 72px;
  height: 63px;
}
.icon-006yuanbao2 {
  background-image: url(propsItem.png);
  background-position: -187px -184px;
  width: 30px;
  height: 16px;
}
.icon-007yuanbao50 {
  background-image: url(propsItem.png);
  background-position: -337px -228px;
  width: 62px;
  height: 48px;
}
.icon-008yuanbao500 {
  background-image: url(propsItem.png);
  background-position: -337px -73px;
  width: 69px;
  height: 55px;
}
.icon-009yuanbaotitle {
  background-image: url(propsItem.png);
  background-position: -177px -210px;
  width: 143px;
  height: 52px;
}
.icon-010props1 {
  background-image: url(propsItem.png);
  background-position: -45px -336px;
  width: 35px;
  height: 29px;
}
.icon-011props2 {
  background-image: url(propsItem.png);
  background-position: 0px -377px;
  width: 33px;
  height: 30px;
}
.icon-012props3 {
  background-image: url(propsItem.png);
  background-position: 0px -336px;
  width: 35px;
  height: 31px;
}
.icon-013props4 {
  background-image: url(propsItem.png);
  background-position: -289px -272px;
  width: 35px;
  height: 32px;
}
.icon-014props5 {
  background-image: url(propsItem.png);
  background-position: -290px -81px;
  width: 37px;
  height: 38px;
}
.icon-015props6 {
  background-image: url(propsItem.png);
  background-position: -337px -286px;
  width: 37px;
  height: 38px;
}
.icon-016props7 {
  background-image: url(propsItem.png);
  background-position: -241px -272px;
  width: 38px;
  height: 35px;
}
.icon-017jineng {
  background-image: url(propsItem.png);
  background-position: -187px -81px;
  width: 93px;
  height: 93px;
}
.icon-018qiankundaiKuang {
  background-image: url(propsItem.png);
  background-position: -177px -272px;
  width: 54px;
  height: 54px;
}
.icon-元宝背景 {
  background-image: url(propsItem.png);
  background-position: 0px 0px;
  width: 327px;
  height: 71px;
}
.icon-小手 {
  background-image: url(propsItem.png);
  background-position: -337px -138px;
  width: 47px;
  height: 80px;
}
