/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-boy {
  background-image: url(renItem.png);
  background-position: 0px 0px;
  width: 124px;
  height: 148px;
}
.icon-gril {
  background-image: url(renItem.png);
  background-position: -134px 0px;
  width: 102px;
  height: 112px;
}
.icon-userkuang {
  background-image: url(renItem.png);
  background-position: -246px 0px;
  width: 102px;
  height: 112px;
}
