.friendSortContent-title{
	background-position: -295px -262px;
	width: 183px;
	height: 55px;
	display: block;
	margin: 5px auto;
}
.friendSortContent .sortInfo{
	color:#fff;
}
.friendSortContent .sortInfo>li{
	background-position: 4px -160px;
	width: 326px;
	height: 29px;
	line-height: 29px;
}
.friendSortContent .sortInfo>li:first-child{
margin-top: 10px;
}
.friendSortContent .sortInfoContrl{
color:#fff;
}
.friendSortContent .sortInfoContrl .prev {
	background-position: -245px -56px;
	width: 36px;
	height: 17px;
}
.friendSortContent .sortInfoContrl .next {
	background-position: -198px -56px;
	width: 37px;
	height: 17px;
}