.packageContent .bg-title-package{
	top:-3px;
	position:absolute;
	left:50%;
	margin-left:-68px;
}
.packageContent{
	position:relative;
}
.packageContent .Fertilizer1,
.packageContent .Fertilizer2,
.packageContent .Fertilizer3,
.packageContent .Fertilizer4,
.packageContent .shengmiye,
.packageContent .tulongdao,
.packageContent .jiaohuaji{
	width: 40px;
	height: 38px;
	margin: 11px 0 0 10px;
}
.packageContent .Fertilizer1{
	background-position: -45px -336px;
}
.packageContent .Fertilizer2{
	background-position: 0px -377px;
}
.packageContent .Fertilizer3{
	background-position: 0px -336px;
}
.packageContent .Fertilizer4{
	background-position: -289px -272px;
}
.packageContent .shengmiye{
	margin-top: 6px;
	background-position: -337px -286px;
}
.packageContent .tulongdao{
	margin-top: 6px;
	background-position: -290px -81px;
}
.packageContent .jiaohuaji{
	background-position: -241px -272px;
}
.packageContent .list-bg{
	background-position: -0px -0px;
	width: 275px;
	height: 60px;
	text-align: left;
	padding-left: 63px;
	position: relative;
}
.packageContent .list-img{
	position: absolute;
	left: 8px;
	top: 50%;
	margin-top: -27px;
	background-position: -177px -272px;
	width: 54px;
	height: 54px;
}
.packageContent .list-content{

}
.packageContent .list-title{
	padding: 5px 10px 0px;
}
.packageContent .list-text{
color:#fff;
	padding:5px;
}
.packageContent .list-btn{
	margin-top:-3px;
}
.packageContent .list-btn>a{
	height: 30px;
	margin-right: 21px;
	text-align: center;
	background-image: url(../../public/images/btnbg.png);
	background-repeat: no-repeat;
	background-position: 0 -308px;
	position: relative;
	display: inline-block;
	width: 92px;
}