@import url(../public/css/common/page.css);
.ad-content .carousel-wrap{
	position:absolute;
	z-index: -1;
}
.ad-content{
	height: 180px;
}
.recommend-content{
	position:relative;
	padding-left:240px;
}
.recommend-left-content{
	width:240px;
	position:absolute;
	top:0px;
	left:0px;
}

.recommend-portal{

}

.category-header{
	background:#2e343e;
	padding:10px;
}
.category-header .search-bar{
	background: #1a2228;
	display: inline-block;
	padding:10px;
	border-radius: 5px;
}
.category-header-item{
	float: left;
	width:300px;
	height: 40px;
	line-height: 40px;
	border-left:1px solid #fff;
	padding-left:10px;
}
.category-header-item:first-child{
	border-left:none;
}
.category-group>li>img{
	height:200px;
	width:90%;
}
.recommend-group>li>img{
	height:200px;
	width:90%;
}