@import url(/web/page.css);
.bannar.swiper-container{
	height: 337px;
	width:100%;
}
.newList>li{
	padding-left: 286px;
	height: 205px;
	margin-top: 20px;
	position: relative;
	border-bottom: 1px dotted #c1c1c1;
}
.newList>li .list-img{
	position:absolute;
	left: 0px;
}
.newList>li .title{
    color:#333;
    font-size:18px;
}