.packageContent-title{
	background-position: -153px -270px;
	width: 136px;
	height: 53px;
	margin: 5px auto 10px;
	display: block;
}
.packageContent .huafei1,
.packageContent .huafei2,
.packageContent .huafei3,
.packageContent .huafei4,
.packageContent .shengmiye,
.packageContent .tulongdao,
.packageContent .jiaohuaji{
	width: 40px;
	height: 38px;
	margin: 11px 0 0 10px;
}
.packageContent .huafei1{
	background-position: -45px -336px;

}
.packageContent .huafei2{
	background-position: 0px -377px;
}
.packageContent .huafei3{
	background-position: 0px -336px;
}
.packageContent .huafei4{
	background-position: -289px -272px;
}
.packageContent .shengmiye{
	margin-top: 6px;
	background-position: -337px -286px;
}
.packageContent .tulongdao{
	margin-top: 6px;
	background-position: -290px -81px;
}
.packageContent .jiaohuaji{
	background-position: -241px -272px;
}
.packageContent .list-bg{
	background-position: -0px -0px;
	width: 275px;
	height: 60px;
	text-align: left;
	padding-left: 63px;
	position: relative;
}
.packageContent .list-img{
	position: absolute;
	left: 8px;
	top: 50%;
	margin-top: -27px;
	background-position: -177px -272px;
	width: 54px;
	height: 54px;
}
.packageContent .list-content{

}
.packageContent .list-title{
	padding: 5px 10px 0px;
}
.packageContent .list-text{
color:#fff;
	padding:5px;
}
.packageContent .list-btn{
	margin-top:-3px;
}
.packageContent .list-btn>a{
	height: 30px;
	margin-right: 21px;
	text-align: center;
	background-image: url(../../public/images/btnbg.png);
	background-repeat: no-repeat;
	background-position: 0 -308px;
	position: relative;
	display: inline-block;
	width: 92px;
}