.worldSortContent-title{
	background-position: -191px -77px;
	width: 174px;
	height: 55px;
	display: block;
	margin: 5px auto;
}
.worldSortContent .sortInfo{
	color:#fff;
}
.worldSortContent .sortInfo>li{
	background-position: 4px -160px;
	width: 326px;
	height: 29px;
	line-height: 29px;
}
.worldSortContent .sortInfo>li:first-child{
margin-top: 10px;
}
.worldSortContent .sortInfoContrl{
color:#fff;
}
.worldSortContent .sortInfoContrl .prev {
	background-position: -245px -56px;
	width: 36px;
	height: 17px;
}
.worldSortContent .sortInfoContrl .next {
	background-position: -198px -56px;
	width: 37px;
	height: 17px;
}